<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<main class="form">
    <h2>로그인</h2>
    <form method="post">
<!--        form은 사용자로부터 입력을 받아 서버로 제출하는 기능을 제공-->
        <p><input type="text" name="username" placeholder="아이디" class="fill" required /></p>
<!--        placeholder 속성은 필드에 대한 안내 텍스트-->
        <p><input type="password" name="password" placeholder="비밀번호" class="fill" required /></p>
        <p>
            <button type="submit" class="btn btn-primary">로그인</button>
        </p>
        <input type="hidden" name="_csrf" th:value="${session.csrf}"/>
    </form>
<!--    <div> 태그는 HTML 문서 내에서 구획을 나누기 위해 사용되는 블록 레벨 요소-->
    <div class="links">
<!--        <a>HTML에서 하이퍼링크를 정의하는 데 사용-->
        <a href="#" th:href="@{/user/find-password}">비밀번호 찾기</a>
        <a href="#" th:href="@{/user/find-username}">아이디 찾기</a>
        <a href="#" th:href="@{/user/signin}" >회원가입</a>
    </div>
<!--    <p th:if="${param.error}" class="warn">아이디 또는 비밀번호가 잘못되었습니다.</p>-->
    <p th:if="${error}" class="warn" th:text="${error}">아이디나 비밀번호가 틀렸습니다.</p>
<!--    th 있는것: 동적, 컨텍스트 경로 처리 URL을 자동 업데이트
        th 없는것: 정적, 컨텍스트 경로 처리 URL을 수동 업데이트-->
</main>
</body>
</html>
