<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<main class="form">
    <h2>로그인</h2>
    <form method="post">
        <p><input type="text" name="username" placeholder="아이디" class="fill" required /></p>
        <p><input type="password" name="password" placeholder="비밀번호" class="fill" required /></p>
        <p>
            <button type="submit" class="btn btn-primary">로그인</button>
        </p>
        <input type="hidden" name="_csrf" th:value="${session.csrf}"/>
    </form>
    <div class="links">
        <a href="#" th:href="@{/user/find-password}">비밀번호 찾기</a>
        <a href="#" th:href="@{/user/find-username}">아이디 찾기</a>
        <a href="#" th:href="@{/user/signin}" >회원가입</a>
    </div>
    <p th:if="${param.error}" class="warn">아이디 또는 비밀번호가 잘못되었습니다.</p>
</main>
</body>
</html>
